#scrolltop {
  background: #1e90ff;
  border-radius: 100%;
  border: 0.15em solid white;
  bottom: 20px;
  box-shadow: 0px 3px 9px 3px #202020A0;
  color: white;
  display: none;
  height: 2.5em;
  outline: none;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 2.5em;
}

#scrolltop:focus,
#scrolltop:hover {
  background: #ff1e56;
}

@media screen and (max-width: 480px) {
  #scrolltop {
    display: none !important;
  }
}
